body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
section{
    overflow-x: hidden;
}
.shadow-custom{
   box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.shadow-box{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);
 }
a:hover{
    color:#0078f4;
}

.custom-gradient{
    background-color: linear-gradient(90deg, #0078f4, #013577);
}